<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Simple Airbnb", root_path, class: "navbar-brand"%>
    <%= link_to "Add Flat", new_flat_path, class: "btn btn-secondary" %>
  </div>
</nav>
